@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$fontSize: 12px;
$fontSize01: 14px;
$fontSize02: 18px;
$fontSize03: 20px;
$fontSize04: 28px;

$m_color: #3C5296;
$t_color: #333;
$t_color01: #fff;

// 공통서식
@mixin title{
  font-size: $fontSize03;
  text-align: center;
  margin-bottom: 50px;
}

@mixin box($width){
  width: $width;
  padding: 50px 0;
  margin: 0 auto;
  h2{
    @include title;
  }
}

@mixin about_slide{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  h3{
    display: inline-block;
    padding: 8px 16px;
    font-size: $fontSize02;
    background: $m_color;
    color: $t_color01;
  }
  a > img{
    margin-left: 5px;
  }
  .a_title{
    p{
      font-size: $fontSize03;
      line-height: 28px;
      span{
        color: $m_color;
        font-weight: bold;
      }
    }
  }
  .a_con{
    p{
      font-size: $fontSize01;
      line-height: 24px;
    }
  }
}

@mixin p_detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

body{
  font-family: 'RIDIBatang', '맑은 고딕', sans-serif;
  font-size: $fontSize;
  color: $t_color;
}

a{
  text-decoration: none;
  color: $t_color;
  font-size: $fontSize;
}

.hidden{display: none;}