@import 'base';

// 상단 비주얼
#main_visu {
  position: relative;
  height: calc(100vh);
  top: -100px;
  background: $m_color;

  #scroll_down {
    position: relative;
    top: 75%;
    padding-top: 61px;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 50%;
      width: 2px;
      height: 70px;
      background: $t_color01;
      margin-left: -1px;
      animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    }

    .arrow_down {
      display: block;
      margin: 0 auto;
      width: 10px;
      height: 38px;

      &:after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 8px;
        border-top: 2px solid $t_color01;
        border-right: 2px solid $t_color01;
        transform: rotate(135deg);
      }
    }

    .scroll_title {
      color: $t_color01;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: .2rem;
    }
  }

  @keyframes elasticus {
    0% {
      transform-origin: 0% 0%;
      transform: scale(1, 0);
    }

    50% {
      transform-origin: 0% 0%;
      transform: scale(1, 1);
    }

    50.1% {
      transform-origin: 0% 100%;
      transform: scale(1, 1);
    }

    100% {
      transform-origin: 0% 100%;
      transform: scale(1, 0);
    }
  }
}

// 상단 비주얼 끝


// 어바웃
#about {
  @include box(70%);
  position: relative;
  padding: 50px 3vw 100px 3vw;

  .swiper-wrapper {
    .swiper-slide {
      @include about_slide;
    }

    .profile {
      .tag {
        margin-bottom: 4vw;

        span {
          margin-right: 5px;
        }
      }

      >a {
        transition: .5s ease;
        background: url(../images/arrow_b.png) no-repeat center right;
        border: none;
        padding: 15px 60px 15px 20px;
        text-transform: uppercase;
        position: relative;

        &:hover {
          background: url(../images/arrow_w.png) no-repeat center right;
          color: $t_color01;
          transition-delay: .5s;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: $m_color;
          transition: .5s ease;
        }


        &:hover::before {
          width: 100%;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: $m_color;
          transition: .4s ease;
          z-index: -1;
        }

        &:hover::after {
          height: 100%;
          transition-delay: 0.4s;
        }

        img {
          margin-left: 8px;
        }
      }
    }

    .skil {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4vw;
        row-gap: 2vw;
        margin: 1vw;

        li {
          &:hover {
            animation: rubberBand 1s infinite;
          }
        }

        li:nth-child(2n) {
          margin-top: 20px;
        }

        img {
          height: 70px;
          transition: .4s;
          cursor: pointer;
        }
      }
    }

    .logo {
      .a_con {
        margin-bottom: 11vw;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: auto;
    bottom: 13%;
    width: 40px;
    height: 40px;
    border: 1px solid $m_color;
    border-radius: 50%;
  }

  .swiper-button-prev {
    left: auto;
    right: 120px;
  }

  .swiper-button-next {
    right: 70px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $m_color;
    font-size: 20px;
  }

  .arch {
    position: absolute;
    top: 120px;
    right: 12vw;
    width: 18vw;
    height: 500px;
    padding: 20px 35px;
    background: $m_color;
    border-radius: 500px 500px 0px 0px;
    z-index: 9;

    .arch_con:not(.profile) {
      @include arch_con;
      padding: 7vw 40px 0 40px;
      background: $t_color01;
      border: 1px solid $m_color;
    }

    .profile {
      img {
        @include arch_con;
        object-fit: cover;
      }
    }

    .skil {
      .skil_t {
        font-size: $fontSize02;
        line-height: 28px;
        margin-bottom: 2vw;

        span {
          font-size: $fontSize04;
          color: $m_color;
          font-weight: bold;
        }
      }

      div {
        display: none;
        margin: 0 15px;
        font-size: $fontSize01;
        line-height: 22px;

        p {
          margin-bottom: 12px;

          &::before {
            content: '';
            display: block;
            width: 6px;
            height: 2px;
            position: relative;
            top: 12px;
            left: -12px;
            background: #bbb;
          }
        }
      }
    }

    .logo {
      text-align: center;
      img {
        width: 100px;
      }
      dl{
        margin: 30px 0;
        line-height: 18px;
        dt{
          font-size: $fontSize01;
          font-weight: bold;
        }
        dd{
          margin-bottom: 10px;
        }
      }
    }
  }
}

// 어바웃 끝


// 프로젝트
#projects {
  @include box(70%);

  .category {
    position: relative;
    padding: 20px 0;
    font-size: 14px;
    border-bottom: 1px solid #333;

    label {
      margin-right: 30px;
      cursor: pointer;
    }

    .line {
      position: absolute;
      height: 1.5px;
      top: 12px;
      background: #333;
      transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  .year {
    position: absolute;
    display: flex;
    gap: 100px;
    bottom: 10px;
    right: 0;
    font-size: $fontSize03;
    font-style: italic;
  }

  .year::before {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    bottom: 8px;
    right: 54px;
    background: #ccc;
  }

  .project {
    display: flex;
    flex-direction: column;

    input[type=radio] {
      display: none;
    }

    #all:checked~.unit {
      display: flex;
    }

    #personal:checked~.personal {
      display: flex;
    }

    #team:checked~.team {
      display: flex;
    }

    .unit {
      position: relative;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 480px;
      margin: 50px 0;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: -50px;
        background: $t_color;
      }

      .p_img {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 14vw;
        cursor: pointer;

        .mockup {
          width: 42vw;
          height: 480px;
          object-fit: cover;
        }

        img {
          transition: .8s;
        }

        .arrow {
          position: absolute;
          display: inline-block;
          transform: translate(-40px, 225px);
        }

        &:hover {
          a {
            >img {
              scale: .98;
              border-radius: 25% 0 25% 0;
            }

            .arrow {
              animation: arrow 1s ease-in-out infinite;
            }
          }
        }
      }

      h3 {
        display: inline-block;
        position: relative;
        top: 32px;
        padding: 8px 12px;
        background: #ffffff9f;
        z-index: 999;
        font-size: 32px;
      }

      .p_top {
        @include p_detail;
        order: -1;
      }

      .p_bottom {
        @include p_detail;

        div {
          p {
            margin: 10px 0;

            span:first-child {
              display: inline-block;
              width: 60px;
              font-weight: bold;
            }
          }

          .color {
            span:not(:first-child) {
              display: inline-block;
              width: 20px;
              height: 20px;
              margin-right: 10px;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .tgi {
      .p_bottom {
        .color {
          @include p_color(3, #B60000, #242422, #F2EDE4);
        }
      }
    }

    .freitag {
      .p_bottom {
        .color {
          @include p_color(2, #000, #fff, #fff);

          span:nth-child(3) {
            border: 1px solid #333;
          }
        }
      }
    }

    .emart {
      .p_bottom {
        .color {
          @include p_color(2, #FCB416, #484C55, #fff);
        }
      }
    }

    .petfriends {
      .p_bottom {
        .color {
          @include p_color(3, #998F86, #D6D2C9, #E2DFDA);
        }
      }
    }

    .canon {
      .p_bottom {
        .color {
          @include p_color(3, #DE0010, #38373C, #E6E6E6);
        }
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: translate(-40px, 225px);
  }

  50% {
    transform: translate(-30px, 225px);
  }

  100% {
    transform: translate(-40px, 225px);
  }
}

// 프로젝트 끝


// 컨택트
#contact {
  @include box(70%);

  .con_wrap {
    width: 100%;
    text-align: center;

    .con {
      display: inline-block;
      position: relative;
      width: 17vw;
      height: 25vw;
      font-size: $fontSize02;

      a {
        font-size: $fontSize02;
        color: $m_color;
      }

      .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 300px;
        backface-visibility: hidden;
        transition: 1s;
        cursor: pointer;
      }

      .front {
        position: absolute;
        transform: rotateY(0deg);
      }

      .back {
        background: $t_color01;
        border: 1px solid $m_color;
        transform: rotateY(-180deg);
      }

      &:hover .front {
        transform: rotateY(180deg);
      }

      &:hover .back {
        transform: rotateY(0deg);
        z-index: 9999;
      }
    }

    .resume {
      right: -2.7vw;

      .front {
        background-image: url(../images/me2.jpg);
        background-size: cover;
      }
    }

    .email {
      .front {
        background-image: url(../images/con02.png);
        background-size: cover;
      }
    }

    .phone {
      left: -2.7vw;

      .front {
        background-image: url(../images/con01.jpg);
        background-size: cover;

        span {
          width: 65px;
          height: 65px;
          text-align: center;
          background: $t_color01;
          border-radius: 10px;
          transform: rotate(45deg);

          i {
            position: relative;
            top: 18px;
            left: 0;
            color: $m_color;
            font-size: 28px;
            transform: rotate(-45deg);
          }
        }
      }

    }
  }
}

// 컨택트 끝