@charset "UTF-8";
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "RIDIBatang", "맑은 고딕", sans-serif;
  font-size: 12px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.hidden {
  display: none;
}

#main_visu {
  position: relative;
  height: calc(100vh - 100px);
  background: #3C5296;
}
#main_visu p {
  position: absolute;
  font-size: 48px;
  color: white;
  z-index: 1;
}
#main_visu p:first-of-type {
  top: 30%;
  left: 25%;
}
#main_visu p:last-of-type {
  top: 50%;
  left: 55%;
}

canvas {
  position: absolute;
  touch-action: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

#about {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
  background-image: url(../images/bg.jpg);
}
#about h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
#about .swiper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 50px 100px;
  background: #fff;
}
#about .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 60%;
}
#about .swiper .swiper-wrapper .swiper-slide h3 {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  background: #3C5296;
  color: #fff;
}
#about .swiper .swiper-wrapper .swiper-slide a > img {
  margin-left: 5px;
}
#about .swiper .swiper-wrapper .swiper-slide .a_title p {
  font-size: 20px;
  line-height: 28px;
}
#about .swiper .swiper-wrapper .swiper-slide .a_title p span {
  color: #3C5296;
  font-weight: bold;
}
#about .swiper .swiper-wrapper .swiper-slide .a_con p {
  font-size: 14px;
  line-height: 24px;
}
#about .swiper .swiper-wrapper .profile .tag {
  margin-bottom: 130px;
}
#about .swiper .swiper-wrapper .profile .tag span {
  margin-right: 5px;
}
#about .swiper .swiper-wrapper .skil ul {
  width: 54%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
#about .swiper .swiper-wrapper .skil ul img {
  height: 100px;
  transition: 0.4s;
  cursor: pointer;
}
#about .swiper .swiper-wrapper .skil ul img:hover {
  transform: scale(1.08);
}
#about .swiper .swiper-wrapper .logo > img {
  width: 100px;
}
#about .swiper .swiper-wrapper .logo .a_con {
  margin-bottom: 100px;
}
#about .swiper .swiper-button-next, #about .swiper .swiper-button-prev {
  top: 90%;
  width: 40px;
  height: 40px;
  border: 1px solid #3C5296;
  border-radius: 50%;
}
#about .swiper .swiper-button-next {
  left: auto;
  right: 50px;
}
#about .swiper .swiper-button-prev {
  left: auto;
  right: 100px;
}
#about .swiper .swiper-button-next::after, #about .swiper .swiper-button-prev::after {
  color: #3C5296;
  font-size: 20px;
}
#about .swiper .arch {
  position: absolute;
  top: 120px;
  right: 10vw;
  width: 18vw;
  height: 500px;
  padding: 30px;
  background: #3C5296;
  border-radius: 500px 500px 0px 0px;
  text-align: center;
  z-index: 9;
}
#about .swiper .arch .arch_con .skil_t {
  font-size: 20px;
  line-height: 28px;
}
#about .swiper .arch .arch_con .skil_t span {
  color: #fff;
  font-weight: bold;
  background: #3C5296;
}
#about .swiper .arch .profile img {
  width: 300px;
  border-radius: 50%;
}

#projects {
  width: 70vw;
  padding: 50px 0;
  margin: 0 auto;
}
#projects h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
#projects .category {
  position: relative;
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #333;
}
#projects .category label {
  margin-right: 40px;
  cursor: pointer;
}
#projects .category .line {
  position: absolute;
  height: 2px;
  top: 12px;
  background: #333;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#projects .year {
  position: absolute;
  display: flex;
  gap: 100px;
  bottom: 10px;
  right: 0;
  font-size: 20px;
  font-style: italic;
}
#projects .year::before {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  position: absolute;
  bottom: 8px;
  right: 54px;
  background: #ccc;
}
#projects .project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#projects .project input[type=radio] {
  display: none;
}
#projects .project #all:checked ~ .unit {
  display: flex;
}
#projects .project #personal:checked ~ .personal {
  display: flex;
}
#projects .project #team:checked ~ .team {
  display: flex;
}
#projects .project .unit {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 70vw;
  height: 480px;
  margin: 50px 0;
}
#projects .project .unit::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -50px;
  background: #333;
}
#projects .project .unit .p_img {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 14vw;
  cursor: pointer;
}
#projects .project .unit .p_img .mockup {
  width: 42vw;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .project .unit .p_img img {
  transition: 0.8s;
}
#projects .project .unit .p_img .arrow {
  position: absolute;
  display: inline-block;
  transform: translate(-40px, 225px);
}
#projects .project .unit .p_img:hover a > img {
  scale: 0.98;
  border-radius: 25% 0 25% 0;
}
#projects .project .unit .p_img:hover a .arrow {
  animation: arrow 1s ease-in-out infinite;
}
#projects .project .unit h3 {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.6235294118);
  z-index: 999;
  font-size: 32px;
  transition: 0.4s ease-out;
  transform: translateY(80%);
  opacity: 1;
}
#projects .project .unit h3.title_up {
  transition: 1s ease-out;
  transform: translateY(0);
  transition-delay: 0.7s;
  opacity: 1;
}
#projects .project .unit .p_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  order: -1;
}
#projects .project .unit .p_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#projects .project .unit .p_bottom div p {
  margin: 10px 0;
}
#projects .project .unit .p_bottom div p span:first-child {
  display: inline-block;
  width: 60px;
  font-weight: bold;
}
#projects .project .unit .p_bottom div .color span:not(:first-child) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
#projects .project .tgi .p_bottom .color span:nth-child(2) {
  background: #B60000;
}
#projects .project .tgi .p_bottom .color span:nth-child(3) {
  background: #242422;
}
#projects .project .tgi .p_bottom .color span:last-child {
  background: #F2EDE4;
}
#projects .project .freitag .p_bottom .color span:nth-child(2) {
  background: #000;
}
#projects .project .freitag .p_bottom .color span:nth-child(3) {
  background: #fff;
  border: 1px solid #333;
}
#projects .project .emart .p_bottom .color span:nth-child(2) {
  background: #FCB416;
}
#projects .project .emart .p_bottom .color span:nth-child(3) {
  background: #484C55;
}
#projects .project .petfriends .p_bottom .color span:nth-child(2) {
  background: #998F86;
}
#projects .project .petfriends .p_bottom .color span:nth-child(3) {
  background: #D6D2C9;
}
#projects .project .petfriends .p_bottom .color span:nth-child(4) {
  background: #E2DFDA;
}
#projects .project .canon .p_bottom .color span:nth-child(2) {
  background: #DE0010;
}
#projects .project .canon .p_bottom .color span:nth-child(3) {
  background: #38373C;
}
#projects .project .canon .p_bottom .color span:nth-child(4) {
  background: #E6E6E6;
}

@keyframes arrow {
  0% {
    transform: translate(-40px, 225px);
  }
  50% {
    transform: translate(-30px, 225px);
  }
  100% {
    transform: translate(-40px, 225px);
  }
}
#contact {
  width: 70%;
  padding: 50px 0;
  margin: 0 auto;
}
#contact h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
#contact .con_wrap {
  width: 100%;
  text-align: center;
  perspective: 1000px;
}
#contact .con_wrap .con {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 450px;
}
#contact .con_wrap .con .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  background: #fff;
  border-radius: 300px;
  backface-visibility: hidden;
  transition: 1s;
}
#contact .con_wrap .con .front {
  position: absolute;
  transform: rotateY(0deg);
}
#contact .con_wrap .con .back {
  transform: rotateY(-180deg);
}
#contact .con_wrap .con:hover .front {
  transform: rotateY(180deg);
}
#contact .con_wrap .con:hover .back {
  transform: rotateY(0deg);
  z-index: 9999;
}
#contact .con_wrap .email {
  right: -50px;
}
#contact .con_wrap .email .front {
  background-image: url(../images/121212.jpg);
}
#contact .con_wrap .email .back {
  background: #3C5296;
  color: #fff;
  font-size: 18px;
}
#contact .con_wrap .mm {
  left: -50px;
}/*# sourceMappingURL=main.css.map */