@import 'base';

// 상단 비주얼
#main_visu{
  position: relative;
  height: calc(100vh - 100px);
  background: $m_color;
  p{
    position: absolute;
    font-size: 48px;
    color: white;
    z-index: 1;
  }
  p:first-of-type{
    top: 30%;
    left: 25%;
  }
  p:last-of-type{
    top: 50%;
    left: 55%;
  }
}

canvas{
  position: absolute;
  touch-action: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}
// 상단 비주얼 끝


// 어바웃
#about{
  @include box(100%);
  background-image: url(../images/bg.jpg);
  // background-size: cover;
  .swiper{
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 50px 100px;
    background: #fff;
    section{
      width: 60%; 
    }
    .profile{
      @include about_slide;
      .tag{
        margin-bottom: 130px;
        span{
          margin-right: 5px;
        }
      }
    }
    .skil{
      @include about_slide;
    }
    .logo{
      @include about_slide;
      > img{
        width: 100px;
      }
      .a_con{
        margin-bottom: 100px;
      }
    }
    .swiper-button-next, .swiper-button-prev{
      top: 90%;
      width: 40px;
      height: 40px;
      border: 1px solid $m_color;
      border-radius: 50%;
    }
    .swiper-button-next{
      left: auto;
      right: 50px;
    }
    .swiper-button-prev{
      left: auto;
      right: 100px;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      color: $m_color;
      font-size: 20px;
    }
    .slide_color{
      position: absolute;
      top: 120px;
      right: 200px;
      width: 330px;
      height: 500px;
      background: $m_color;
      border-radius: 500px 500px 0px 0px;
      z-index: 9;
    }
  }
}
// 어바웃 끝


// 프로젝트
#projects{
  @include box(70%);
  .category{
    position: relative;
    padding: 20px 0;
    font-size: $fontSize01;
    border-bottom: 1px solid #333;
    input[type=radio]{
      display: none;
    }
    input[type=radio]:checked + label{
      font-weight: bold;
    }
    label{
      margin: 0 20px;
      cursor: pointer;
    }
  }
  .year{
    position: absolute;
    display: flex;
    gap: 100px;
    bottom: 10px;
    right: 0;
    font-size: $fontSize03;
    font-style: italic;
  }
  .year::before{
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    bottom: 8px;
    right: 54px;
    background: #ccc;
  }
  .project{
    .con{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 400px;
      margin: 50px 0;
      .con_img{
        position: absolute;
        top: 0;
        left: 250px;
        img{
          transition: .8s;
        }
        span{
          display: inline-block;
          transform: translate(-50px, -200px);
        }
      }
      :hover a > img{
        scale: .98;
        border-radius: 25% 0 25% 0;
      }
      h4{
        display: inline-block;
        position: relative;
        z-index: 999;
        font-size: 32px;
      }
      .con_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
// 프로젝트 끝


// 컨택트
#contact{
  @include box(70%);
  .con_wrap{
    width: 100%;
    text-align: center;
    .con{
      display: inline-block;
      position: relative;
      width: 300px;
      height: 450px;
      border: 1px solid #333;
      border-radius: 300px;
    }
    .email{
      right: -50px;
    }
    .mm{
      left: -50px;
    }
  }

}
// 컨택트 끝