@charset "UTF-8";
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "RIDIBatang", "맑은 고딕", sans-serif;
  font-size: 0.75rem;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 0.75rem;
}

.hidden {
  display: none;
}

#main_visu {
  position: relative;
  height: 100vh;
  top: -100px;
  background: #3C5296;
}
#main_visu #scroll-down {
  display: block;
  position: relative;
  top: 75%;
  padding-top: 61px;
  text-align: center;
}
#main_visu .arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
#main_visu .arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
}
#main_visu #scroll-title {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#main_visu #scroll-down::before {
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 70px;
  background: #fff;
  content: " ";
}
@keyframes elasticus {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }
  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }
  50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#about {
  width: 70%;
  padding: 50px 0 100px 0;
  margin: 0 auto;
  position: relative;
  padding: 50px 3vw 100px 3vw;
}
#about h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 50px;
}
#about .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-right: 28vw;
}
#about .swiper-wrapper .swiper-slide h3 {
  display: inline-block;
  padding: 10px 16px 7px;
  font-size: 1.125rem;
  background: #3C5296;
  color: #fff;
}
#about .swiper-wrapper .swiper-slide .a_title p {
  font-size: 22px;
  line-height: 32px;
}
#about .swiper-wrapper .swiper-slide .a_title p span {
  color: #3C5296;
  font-weight: bold;
}
#about .swiper-wrapper .swiper-slide .a_con p {
  font-size: 0.875rem;
  line-height: 24px;
}
#about .swiper-wrapper .swiper-slide a > img {
  margin-left: 5px;
}
#about .swiper-wrapper .profile .tag {
  margin-bottom: 6vw;
}
#about .swiper-wrapper .profile .tag span {
  margin-right: 5px;
}
#about .swiper-wrapper .skil ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  row-gap: 2vw;
  margin: 1vw;
}
#about .swiper-wrapper .skil ul li:hover {
  animation: rubberBand 1s infinite;
}
#about .swiper-wrapper .skil ul li:nth-child(2n) {
  margin-top: 20px;
}
#about .swiper-wrapper .skil ul img {
  height: 70px;
  transition: 0.4s;
  cursor: pointer;
}
#about .swiper-wrapper .logo .a_con {
  margin-bottom: 11vw;
}
#about .swiper-button-next,
#about .swiper-button-prev {
  top: 80%;
  width: 40px;
  height: 40px;
  border: 1px solid #3C5296;
  border-radius: 50%;
}
#about .swiper-button-next {
  left: auto;
  right: 70px;
}
#about .swiper-button-prev {
  left: auto;
  right: 120px;
}
#about .swiper-button-next::after,
#about .swiper-button-prev::after {
  color: #3C5296;
  font-size: 20px;
}
#about .arch {
  position: absolute;
  top: 120px;
  right: 12vw;
  width: 18vw;
  height: 500px;
  padding: 20px 35px;
  background: #3C5296;
  border-radius: 500px 500px 0px 0px;
  z-index: 9;
}
#about .arch .arch_con:not(.profile) {
  width: 18vw;
  height: 500px;
  border-radius: 500px 500px 0px 0px;
  padding: 7vw 40px 0 40px;
  background: #fff;
  border: 1px solid #3C5296;
}
#about .arch .profile img {
  width: 18vw;
  height: 500px;
  border-radius: 500px 500px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .arch .skil .skil_t {
  font-size: 1.125rem;
  line-height: 28px;
  margin-bottom: 2vw;
}
#about .arch .skil .skil_t span {
  font-size: 1.75rem;
  color: #3C5296;
  font-weight: bold;
}
#about .arch .skil div {
  display: none;
  margin: 0 15px;
  font-size: 0.875rem;
  line-height: 22px;
}
#about .arch .skil div p {
  margin-bottom: 12px;
}
#about .arch .skil div p::before {
  content: "";
  display: block;
  width: 6px;
  height: 2px;
  position: relative;
  top: 12px;
  left: -12px;
  background: #bbb;
}
#about .arch .logo img {
  width: 100px;
}

#projects {
  width: 70%;
  padding: 50px 0 100px 0;
  margin: 0 auto;
}
#projects h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 50px;
}
#projects .category {
  position: relative;
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #333;
}
#projects .category label {
  margin-right: 30px;
  cursor: pointer;
}
#projects .category .line {
  position: absolute;
  height: 1.5px;
  top: 12px;
  background: #333;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#projects .year {
  position: absolute;
  display: flex;
  gap: 100px;
  bottom: 10px;
  right: 0;
  font-size: 1.25rem;
  font-style: italic;
}
#projects .year::before {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  position: absolute;
  bottom: 8px;
  right: 54px;
  background: #ccc;
}
#projects .project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#projects .project input[type=radio] {
  display: none;
}
#projects .project #all:checked ~ .unit {
  display: flex;
}
#projects .project #personal:checked ~ .personal {
  display: flex;
}
#projects .project #team:checked ~ .team {
  display: flex;
}
#projects .project .unit {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 480px;
  margin: 50px 0;
}
#projects .project .unit::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -50px;
  background: #333;
}
#projects .project .unit .p_img {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 14vw;
  cursor: pointer;
}
#projects .project .unit .p_img .mockup {
  width: 42vw;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .project .unit .p_img img {
  transition: 0.8s;
}
#projects .project .unit .p_img .arrow {
  position: absolute;
  display: inline-block;
  transform: translate(-40px, 225px);
}
#projects .project .unit .p_img:hover a > img {
  scale: 0.98;
  border-radius: 25% 0 25% 0;
}
#projects .project .unit .p_img:hover a .arrow {
  animation: arrow 1s ease-in-out infinite;
}
#projects .project .unit h3 {
  display: inline-block;
  position: relative;
  top: 32px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.6235294118);
  z-index: 999;
  font-size: 32px;
}
#projects .project .unit .p_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  order: -1;
}
#projects .project .unit .p_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#projects .project .unit .p_bottom div p {
  margin: 10px 0;
}
#projects .project .unit .p_bottom div p span:first-child {
  display: inline-block;
  width: 60px;
  font-weight: bold;
}
#projects .project .unit .p_bottom div .color span:not(:first-child) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
#projects .project .tgi .p_bottom .color span:nth-child(2) {
  background: #B60000;
}
#projects .project .tgi .p_bottom .color span:nth-child(3) {
  background: #242422;
}
#projects .project .tgi .p_bottom .color span:nth-child(4) {
  background: #F2EDE4;
}
#projects .project .freitag .p_bottom .color span:nth-child(2) {
  background: #000;
}
#projects .project .freitag .p_bottom .color span:nth-child(3) {
  background: #fff;
}
#projects .project .freitag .p_bottom .color span:nth-child(3) {
  border: 1px solid #333;
}
#projects .project .emart .p_bottom .color span:nth-child(2) {
  background: #FCB416;
}
#projects .project .emart .p_bottom .color span:nth-child(3) {
  background: #484C55;
}
#projects .project .petfriends .p_bottom .color span:nth-child(2) {
  background: #998F86;
}
#projects .project .petfriends .p_bottom .color span:nth-child(3) {
  background: #D6D2C9;
}
#projects .project .petfriends .p_bottom .color span:nth-child(4) {
  background: #E2DFDA;
}
#projects .project .canon .p_bottom .color span:nth-child(2) {
  background: #DE0010;
}
#projects .project .canon .p_bottom .color span:nth-child(3) {
  background: #38373C;
}
#projects .project .canon .p_bottom .color span:nth-child(4) {
  background: #E6E6E6;
}

@keyframes arrow {
  0% {
    transform: translate(-40px, 225px);
  }
  50% {
    transform: translate(-30px, 225px);
  }
  100% {
    transform: translate(-40px, 225px);
  }
}
#contact {
  width: 70%;
  padding: 50px 0 100px 0;
  margin: 0 auto;
}
#contact h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 50px;
}
#contact .con_wrap {
  width: 100%;
  text-align: center;
}
#contact .con_wrap .con {
  display: inline-block;
  position: relative;
  width: 17vw;
  height: 25vw;
  font-size: 1.125rem;
}
#contact .con_wrap .con a {
  font-size: 1.125rem;
  color: #3C5296;
}
#contact .con_wrap .con .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 300px;
  backface-visibility: hidden;
  transition: 1s;
  cursor: pointer;
}
#contact .con_wrap .con .front {
  position: absolute;
  transform: rotateY(0deg);
}
#contact .con_wrap .con .back {
  background: #fff;
  border: 1px solid #3C5296;
  transform: rotateY(-180deg);
}
#contact .con_wrap .con:hover .front {
  transform: rotateY(180deg);
}
#contact .con_wrap .con:hover .back {
  transform: rotateY(0deg);
  z-index: 9999;
}
#contact .con_wrap .resume {
  right: -2.7vw;
}
#contact .con_wrap .resume .front {
  background-image: url(../images/me2.jpg);
  background-size: cover;
}
#contact .con_wrap .email .front {
  background-image: url(../images/con02.png);
  background-size: cover;
}
#contact .con_wrap .phone {
  left: -2.7vw;
}
#contact .con_wrap .phone .front {
  background-image: url(../images/con01.jpg);
  background-size: cover;
}
#contact .con_wrap .phone .front span {
  width: 65px;
  height: 65px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  transform: rotate(45deg);
}
#contact .con_wrap .phone .front span i {
  position: relative;
  top: 18px;
  left: 0;
  color: #3C5296;
  font-size: 28px;
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */